<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>CSS Grid - Layout</title>
</head>

<body>
    <div class="container">
        <div class="item item1">1</div>
        <div class="item item2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, cumque ut vero at quidem
            id cum tempora aut nulla sint dolores perspiciatis alias fuga consequatur necessitatibus enim. Doloribus,
            provident accusantium praesentium et voluptas laborum aliquam deserunt consectetur maiores. Perferendis
            labore nulla tenetur id molestias nobis a harum sapiente veritatis sint adipisci libero non perspiciatis
            voluptatem doloremque amet, maxime optio nihil animi ipsum! In, dignissimos rerum quam pariatur, sunt soluta
            laborum, laboriosam consequatur obcaecati quos autem. Tenetur aperiam architecto nobis, sequi cupiditate quo
            eligendi quidem aliquam quis minus, facere tempore est nostrum quos. Praesentium pariatur at eligendi libero
            magni fugiat eveniet asperiores porro, natus id saepe necessitatibus debitis beatae odit. Ratione repellat
            et voluptate nesciunt veritatis sequi distinctio aspernatur fugit cupiditate deleniti maiores, cum
            exercitationem numquam sit, eaque qui tempora quo libero totam fuga animi atque obcaecati cumque rerum.
            Nisi, deleniti autem facere sint magni enim culpa aut suscipit doloremque esse aliquid, corrupti eaque
            ducimus libero laudantium quas pariatur labore aliquam illo eveniet accusantium? Unde optio quia magnam
            veritatis molestiae amet, dignissimos obcaecati quae, voluptas repudiandae vel quibusdam esse cupiditate
            inventore provident iusto porro eum illum atque dicta veniam itaque incidunt! Consectetur veritatis eaque
            laboriosam, quaerat, rem illum odit iure id modi molestiae laudantium. Molestiae earum deserunt, nemo ad
            dolore hic fugit mollitia perspiciatis, quam ea pariatur nobis placeat sapiente vel tempora libero, dolor
            recusandae! Dicta sapiente obcaecati incidunt modi ratione harum ducimus. Voluptatibus, repellendus?
            Officia, quas fuga corporis tenetur ipsam temporibus, ab eum deserunt unde quo id asperiores, dolor possimus
            libero? Dolorem dolores aperiam corporis voluptatum nobis maxime. Ipsum odit provident, possimus cumque
            placeat enim omnis quaerat quibusdam facere cupiditate dolorem assumenda suscipit labore excepturi expedita
            iure adipisci officiis rem nihil? Vitae magnam vero odio enim alias doloremque quis eligendi soluta qui
            exercitationem eum consequuntur at officia officiis ab necessitatibus quos, corporis nemo! Quis perferendis
            aliquid veniam a optio necessitatibus dolorum culpa, dignissimos rem, exercitationem explicabo earum
            nostrum! Quisquam eius atque nulla, provident impedit alias reiciendis reprehenderit at voluptatum, aut
            pariatur, iusto laborum modi quidem iste deleniti ullam in similique! Odit nisi, ab corrupti saepe velit
            quia voluptatibus quaerat impedit aperiam numquam laudantium doloremque autem soluta nesciunt sequi!
            Veritatis nostrum quam cumque perspiciatis impedit placeat quisquam dignissimos doloribus molestiae eligendi
            voluptatem ducimus quas, aut itaque optio vero quibusdam quo officiis sint corrupti laboriosam temporibus
            architecto minima eveniet! Labore, rerum! Voluptatem odio, velit dolore sint tenetur deleniti laborum
            architecto modi eveniet iure officia ratione ducimus ad sit ut vitae voluptatum, sunt eaque harum inventore
            magni? Praesentium quisquam, aliquid vitae dignissimos natus repudiandae placeat odio quae quos explicabo
            dolores magnam veritatis aspernatur atque tempora accusamus error expedita animi nobis suscipit fugiat. Quos
            praesentium aspernatur nisi dolores quas distinctio temporibus nemo necessitatibus, sequi assumenda dolore
            accusamus deleniti minima soluta autem fuga voluptates incidunt minus unde magni. Atque quae quasi rerum
            sequi vero sit aperiam corporis. Iste inventore nihil porro minima sint, quisquam aut beatae molestias nemo
            natus vitae deleniti, facere et aliquid enim in eum fugit commodi? Aliquid facere facilis odit nihil
            possimus.</div>
        <div class="item item3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae quibusdam provident
            dolorum repudiandae, accusantium repellat sapiente! Odit, obcaecati. Vitae ipsam voluptate fugit at esse,
            consequatur asperiores deleniti! Libero atque suscipit delectus voluptatum odit facere, quidem nihil, cumque
            iste natus ducimus?</div>
        <div class="item item4">4</div>
    </div>
</body>

</html>